.preto{
    background-color: black;
}

.azul{
    background-color: blue;
}

.amarelo{
    background-color: gold;
}

.verde{
    background-color: darkgreen;
}

.laranja{
    background-color: orangered;
}

.cinza{
    background-color: gray;
}

.roxo{
    background-color: purple;
}

.violeta{
    background-color: violet;
}

.marrom{
    background-color: brown;
}

.vermelho{
    background-color: red;
}

.rosa{
    background-color: pink;
}