/*resert*/
@import 'reset.css';
/*cores*/
@import'cores.css';

/*alturas*/
@import'alturas.css';

/*colunas*/
@import'colunas.css';


/*estilos*/

html,
body{
    height: 100%;
    width: 100%;
    background-color: #ccc;
}

.row>div{
    float: left;
}
